In [14]:
#importing libararies
import pandas as pd
import numpy as np
!pip install pymysql
import MySQLdb
from sqlalchemy import create_engine
import pymysql

Requirement already satisfied: pymysql in /Users/therealchyke/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip

In [15]:
#reading the data into a dataframe
df=pd.read_csv('paystack_checkout_transactions.csv')

In [8]:
df.head()

   id     status currency country_code
0   1     failed      USD           US
1   2    success      NGN           NG
2   3  abandoned      NGN          NaN
3   4    success      NGN           NG
4   5  abandoned      NGN           NG

In [12]:
len(df['id'])

3276

In [16]:
#Checking the status and country_code to column to check for inconsistencies 
df['status'].unique()

array(['failed', 'success', 'abandoned', 'reversed'], dtype=object)

In [19]:
df['country_code'].unique()

array(['US', 'NG', nan, 'GB', 'GH', 'ZA', 'IT', 'IE', 'CA', 'BD', 'JP',
       'FR', 'UA', 'CM', 'IN', 'KE', 'UG', 'AE', 'PL', 'NO', 'QA', 'KY',
       'AU'], dtype=object)

In [20]:
#Checking for Null values
df.isnull().any()

id              False
status          False
currency        False
country_code     True
dtype: bool

In [2]:
username='root'
password='$torytime05!'
host='localhost'
port=3306
DB_NAME='reliance'
engine = create_engine(f"mysql://{username}:{password}@{host}:{port}/{DB_NAME}")

In [4]:
df.to_sql(name='paystack',con=engine,schema='reliance')

3276